.feed-button-row{
    position: fixed;
    top: 50px;
    height: 50px;
    width:97%;
    background-color: rgba(165, 53, 1, 0.76);
    opacity: 0.5;
}
.feed-button{
    padding-top:.5em;
    cursor: pointer;
}

.feed-state-row{
    width:100%;
    margin-top: 110px;
}
.feed-title{
    font-size: 2em;
    padding-left: 2em;
}

.post-container{
    background-color: rgb(189, 236, 189);
    margin-top: 5px;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    width:70%;
}

.details{
    text-align: center;
    width: 100%;
}
.details-user{
    text-align: center;
}
.details-user:hover{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.expandable{
    background-color: rgb(114, 241, 114);
    margin-bottom: .5em;
}

.expandable-title{
    font-size: 1.5em;
}
.search-area{
    top:110px;
    position: fixed;
    width: 100%;
}

.search-button{
    margin-top: 1em;
    width:50%;
    text-align: center;
    background-color: rgb(114, 241, 114);
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
    font-size: 1em;
    cursor: pointer;
}

.search-text{
    margin-top: 1em;
    width: 100%;
}

.user-action-row{
    padding: 1em;
}
   
.tab-clicked {
    background-color: rgba(165, 53, 1, 0.76);
    opacity: 0.5;
    font-size: 1em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
}

.tab-not-clicked {
    font-size: 1em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
    cursor: pointer;
}

.create-title{
    width:100%;
    text-align: center;
    padding-top: 2em;
}

.create-name{
    width:100%;
    text-align: center;
    font-size: 2em;
    padding : 1em;
}

.form-row-submit{
    margin: 1em;
    background-color: rgb(114, 241, 114);
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
    font-size: 1em;
}
.form-row-submit:hover{
    cursor: pointer;
}
.form-row-submit-text{
    width: 100%;
    text-align: center;
}

.comment-textarea{
    width: 100%;
}
.comment-submit{
    margin: 1em;
    background-color: rgb(114, 241, 114);
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
}

.comment-submit-text{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.comment{
    width: 100%;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
    margin-bottom: .5em;
}

.dropdownList {
    white-space: pre-line;
}
.search-return-container{
    position: fixed;
    top:165px;
    width: 100%;
    margin-right: 12em;
}
.search-return-area{
    overflow-y: auto;
    overflow-x: hidden;
    height: 15em;
    background-color: rgba(165, 53, 1, 0.76);
}

.search-return-row{
    width: 100%;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
    margin-bottom: .5em;
    background-color: rgb(189, 236, 189);
}

.search-return-row-username{
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding-top: 1em;

}

.search-return-row-button{
    margin: .5em;
    background-color: rgb(114, 241, 114);
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
}
.search-return-row-button:hover{
    cursor: pointer;
}
.search-return-row-button-clicked{
    margin: .5em;
    background-color: rgb(103, 109, 103);
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
}
.search-return-row-button-name{
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding-top: .5em;
}

.search-chevron-row{
    background-color: rgb(114, 241, 114);
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
    cursor: pointer;
}

.search-chevron-row-label{
    font-size: 1em;
}
