.feed-button-row{
    position: fixed;
    top: 50px;
    height: 50px;
    width:98%;
}
.feed-state-row{
    width:100%;
    margin-top: 50px;
}
.post-container{
    background-color: rgb(189, 236, 189);
    margin-top: 5px;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
}

.details{
    text-align: center;
    width: 100%;
}

.expandable{
    background-color: rgb(114, 241, 114);
}

   