.landing-title{
    text-align: center;
    color: rgb(61, 28, 0);
    font-size: 4em;
}

.landing-desc{
    text-align: center;
    color: rgb(61, 28, 0);
    font-size: 1.5em;
}

.landing-col{
    background-color: rgb(189, 236, 189);
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
    padding: 2em;

}

.landing-col-title{
    background-color: rgb(114, 241, 114);
    text-align: center;
    width: 100%;
    color: rgb(61, 28, 0);
    font-size: 2em;
}

.landing-col-desc{
    text-align: center;
    color: rgb(61, 28, 0);
    font-size: 1em;
}

.landing-log{
    margin-right:2em;
    background-color: rgb(114, 241, 114);
    text-align: center;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
    font-size: 1.5em;
    height: 3em;
    padding:.5em;
}

.landing-sign{
    margin-left:2em;
    background-color: rgb(114, 241, 114);
    text-align: center;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
    font-size: 1.5em;
    padding:.5em;

}
.landing-form{
    margin-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
    padding: 3em;

}
.landing-form-title{
    color: rgb(61, 28, 0);
    font-size: 1.5em;
    width:100%;
    text-align: center;
}
.field{
    margin-top:1em;
    width:20%;
}
.textfield{
    margin-top:1em;
    width: 80%;
}
.submit{
    margin-top:1em;
    width:50%;
    text-align: center;
    background-color: rgb(114, 241, 114);
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
    font-size: 1.5em;
}