.navbar-row{
    background-color: rgb(122, 53, 25);
    height: 3em;
    position: fixed;
    top: 0;
    width: 98%
}

.navbar-col{
    background-color: burlywood;
    margin-left: 1%;
    border-radius: 20%;
    border-style: solid;
    border-color: black;
    border-width: 2%;
    text-align: center;


}