.navbar-row{
    position: fixed;
    top: 0;
    height: 50px;
    width: 99%;
    background-color: rgba(165, 53, 1, 0.76);
    opacity: 0.5;
    padding-top: .5em;
}

.navbar-sign-out{
    background-color: rgb(189, 236, 189);
    font-size: 1.5em;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
    text-align: center;
}

.navbar-col:hover{
    cursor: pointer;
}
