.scroll-notification{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 700px;
    text-align: center;
}
.notification{
    background-color: rgb(189, 236, 189);
    margin-top: 5px;
    border-style: solid;
    border-color: black;
    border-width: 10%;
}
.notification-detail{
    width:100%;
    text-align: center;
}