.notification-page{
    margin-top: 55px;
}
.scroll-notification{
    width: 100%;
    text-align: center;
}
.notification{
    background-color: rgb(189, 236, 189);
    margin-top: 5px;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
}
.notification-detail{
    width:100%;
    text-align: center;
}
