#ingredients{
    list-style-type: disc;
}
#directions{
    list-style-type: decimal;
}
.post{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;
    margin-top: 5px;
}

.expandable{
    background-color: lightgrey;
}

.userActionRow{
    padding-bottom: 1%;
}