.profile-page{
    margin-top: 55px;
}

.my-books{
    padding:2em;
}

.my-books-container{
    padding:2em;
}

.book-col{
    background-color: rgba(165, 53, 1, 0.76);
    opacity: 0.5;
    font-size: 2em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
        margin:1em;
}

.book-row{
    margin: 1em;
}

.book-clicked {
    background-color: rgba(165, 53, 1, 0.76);
    opacity: 0.5;
    font-size: 2em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
}

.book-not-clicked {
    font-size: 2em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 1px;
}

.book-title{
    width:100%;
    text-align: center;
    padding-top: 2em;
}

.book-name{
    width:100%;
    text-align: center;
    font-size: 2em;
    padding : .5em;
}

.add-button{
    margin: 1em;
    text-align: center;
    background-color: rgb(114, 241, 114);
    border-style: solid;
    border-color: rgb(7, 20, 0);
    border-width: 10%;
    color: rgb(61, 28, 0);
    font-size: 1em;
}

.add-search{
    width:100%;
}

.add-button-string{
    width: 100%;
    text-align: center;
}

.button-clicked{

}

.button-not-clicked{
    
}