body{
    background-color: rgb(248, 220, 178);
    overflow-y: auto;
    overflow-x: hidden;
}

.no-content{

    margin-top: 2em;

}

.no-content-text{
    width: 100%;
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
    color: grey;
}
